<%- include("partials/header.ejs") %>

<div class="container">
    <h1 class="fs-3">About Me</h1>
    <span class="fw-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolore voluptatibus ex aliquid porro rem eos aperiam voluptatem maxime, accusantium amet, non, eligendi quisquam natus iste? Maxime architecto laboriosam enim distinctio odio non facilis ab ullam magni provident possimus voluptatem ut, porro ex facere amet id cum recusandae veritatis libero laborum similique voluptate iusto dolore. Dolorum consequatur facilis, quidem totam tenetur iure, accusamus placeat quis voluptas temporibus impedit. Vero, nobis?</span>
</div>

<%- include("partials/footer.ejs") %>